@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,800);
body {
	color: #14240D;
	background: #FFFFFF;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: rgb(20,36,13);
}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: medium;
	line-height: 24px;
}
ul {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: medium;
}
li {
	line-height: 26px;
}
a {
	text-decoration: none;
}
img {
	width: 235px;

}
#slogan {
		font-family: 'Open Sans', sans-serif;
		color: rgba(20,36,13,0.5);
}
#main {
	width: 817px;	
}
#description {
	font-size: 18px;
	font-weight: 600;
	}