body {
	color: #14240D;
	background: #FFFFFF;
}
h1 {
	color: rgb(20,36,13);
}
p {

}
ul {

}
li {

}
img {
	width: 235px;
}

#slogan {
		font-style: italic;
		font-weight: bold;
}
#main {
	width: 817px;
}